PORT=tupuerto


DB_HOST=tulocalhost
DB_PORT=tupuertodb
DB_USER=tuuser
DB_PASSWORD=tucontraseña
DB_NAME=tunombredebasededatos

JWT_SECRET=


CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
